.event-sidebar
    ul.events-taxonomies
        a
            color: $color-blue
            &:hover
                color: $color-white
                text-decoration-color: $color-blue

.events__page
    .hero
        h1
            span
                color: $color-gold
