.hero 
    .breadcrumb-nav 
        margin-top: $spacing-4
        + .content
            padding-top: $spacing-5
        a
            text-decoration-style: dotted
            text-decoration-thickness: 2px
                
.persons__page, 
.persons__section,
.hero-program
    .taxonomies-persons
        display: none

.avatar,
.persons__page .hero--with-image figure 
    background-color: $color-blue
    border-radius: 50%
    picture
        background-color: $color-gold
        mix-blend-mode: screen
        img
            border-radius: 50%
            filter: grayscale(1)
            mix-blend-mode: multiply 
    figcaption
        display: none

.page-hide-toc
    .toc
        &-cta,
        &-container
            display: none
