<div class="hero-program-infos-teachers {{ .location }}">
    {{ $title := i18n "programs.teachers" -}}
    <h4>{{ $title }}</h4>
    <ul class="hero-list-persons">
    {{- range .teachers -}}
        {{- $person := site.GetPage (printf "/persons/%s" .) -}}
        {{- with $person -}}
        <li>
            <a class="avatar" href="{{ .Permalink }}">
                {{- if .Params.image }}
                {{ partial "commons/image.html"
                (dict
                "alt"      .Title
                "image"    .Params.image
                "sizes"    site.Params.image_sizes.sections.persons.item
                )}}
                {{ end -}}
            </a>
        </li>
    {{- end -}}
    {{- end -}}
    </ul>
</div>